.navbar {
  float: right;
}

.loginButton {
  margin-left: 15px;
  font-family: "Gilroy";
  font-weight: 600;

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    margin-left: 0px;
  }
}

.registerButton {
  margin-left: 10px;
  font-family: "Gilroy";

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.navItem {
  font-family: "Gilroy";
  color: black;
}

.ellipse1 {
  width: 100%;

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    width: 150%;
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }
}

.logo {
  position: absolute;
  top: 20px;
  left: 54px;

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    top: 5px;
    left: 7px;
    width: 50px;
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    width: 50px;
  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
  }
}
