.navbar {
  width: 500px;
  float: right;
}

.loginButton {
  margin-left: 15px;
  font-family: "Gilroy";
  font-weight: 600;
}

.registerButton {
  margin-left: 10px;
  font-family: "Gilroy";
}

.navItem {
  font-family: "Gilroy";
  color: black;
}

.ellipse {
  width: 470px;
  display: inline-flex;
}

.logo {
  position: absolute;
  top: 20px;
  left: 54px;
}
