.headline {
  text-align: center;
}

.description {
  text-align: center;
}

.secondHeader {
  font-family: "Gilroy";
  font-weight: 900;
  text-align: center;
}

.projectsName {
  margin-top: 15px;
  h2 {
    font-size: 20px !important;
    text-align: center;
  }
}

.arrow {
  text-align: center;
  font-size: 30px !important;
  color: #f1b603;

  p {
    font-size: 10px;
    color: black;
  }
}
